# config file for VS Code
/.vscode

# Python virtual environment - everything here can be crecreated
/__pycache__
/Include
/Lib
/Scripts
/tcl

# static html examples (threatened fauna etc.)
/html

# testing
/.pytest_cache
/tests/__pycache__
.coverage

# Python licence
LICENSE.txt
